*, *::before, *::after {
    position: relative; /* make absolutely positioned elements relative to their parent by default */
    min-width: 0; /* prevent flex items from overflowing horizontally */
    min-height: 0; /* prevent flex items from overflowing vertically */
    background-repeat: no-repeat;
}

body {
    @apply font-default font-regular text-default leading-default antialiased;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font: inherit;
}

img {
    max-width: none; /* undo opinionated Preflight reset */
    height: auto;
}

input, textarea, select, button {
    padding: 0;
    border-radius: 0;
    background-clip: padding-box; /* remove inner shadow on iOS */
    font: inherit;
    color: inherit;
}

th, td {
    padding: 0;
}
